.field 
    dropdown(
        data="{{pinPeripherals}}"
        selected-key="{{newSetting.peripheral.id}}"
        on-select="pinPeripheralSelected"
        disabled="{{newSetting.pin === null}}")

+if('newSetting.peripheral')
    +with('newSetting.peripheral.type as type, \
            newSetting.config as config')
        +iff('type === "din"')
            label Mode
            .field
                dropdown(
                    data="{{peripheralConfigs.din.mode}}"
                    selected-key="{{newSetting.config.mode}}")
        +elif('type === "dout"')
            label Mode
            .field
                dropdown(
                    data="{{peripheralConfigs.dout.mode}}"
                    selected-key="{{newSetting.config.mode}}")
        +elif('type === "adcIn"')
            label Conversion
            .field
                dropdown(
                    data="{{peripheralConfigs.adcIn.conversion}}"
                    selected-key="{{newSetting.config.conversion}}")
            +if('newSetting.config.conversion === "continuous"')
                +set('newSetting.config.poll', undefined)

            +if('newSetting.config.conversion === "onDemand"')
                label Polling Method
                .field
                    dropdown(
                        data="{{peripheralConfigs.adcIn.poll}}"
                        selected-key="{{newSetting.config.poll}}")
            +iff('newSetting.config.poll === "periodic"')
                label Period
                .field 
                    .ui.right.labeled.input
                        input(value="{{newSetting.config.period}}" type="number") 
                        .ui.basic.label ms
            +else
                +set('newSetting.config.period', undefined)

            +endif
        +endif
.field 
    .ui.buttons
        ack-button.green(on-click="configurePin") Accept
        ack-button.red(on-click="deletePinSetting") Delete
